footer
    div TEK 2024
    span Fork me:&nbsp;
    a(href="https://github.com/noamcohenntc/teoseptoskratia") https://github.com/noamcohenntc/teoseptoskratia
    div 
        a(href="https://teoseptoskratia.com") https://teoseptoskratia.com
    script(src="/js/app.js")