p
    div
        //aside(id="test_mode") System is in public test mode, all blockchains on this mulichcain in this namespace will be automatically deleted every round hour. * I am not a mathematician so there is definitely something wrong with my math and I'm leaving that to somebody else.
        aside(id="test_mode") All Blockchains will be automatically deleted every round hour.
        div(id="title_div")
            img(src="/img/tek_logo.png",style="float:left;width:200px")
            div(style="float:left")
                h2= title
                    div(id="subtitle_div") multichain namespace
    h4
        a(href="/ideology") Ideology


