
div
    aside(id="test_mode") System is in public test mode, all blockchains on this mulichcain in this namespace will be automatically deleted every round hour.
    div(id="title_div")
        h2= title
            small &nbsp;&nbsp;(multichain namespace)
        a(href="/ideology") Ideology