html
    include includes/head
    body
        header
            include includes/logo_small
        main
            h1= error
            p= description
            a(href="/") back
        footer
            include includes/footer