html
    include includes/head
    body
        header
            include includes/logo_small
        main
            h3= coinName
            div= ownerAddress
        footer
            include includes/footer