html
    include includes/head
    body
        header
            include includes/logo_small
        main
            h2= coinName
            div= ownerAddress
            br
            div
                span Coins in Eco:
                span(id="coins_in_eco")= coinsInEco
            div
                span Coins in Wallet:
                span(id="coins_in_wallet")= coinsInWallet
            if canMine
                div
                    input(id="coins_to_mine", value="100")
                    button(id="mine_btn") Mine
                    span(id="time_ms")
                div(id="bank")
                    h3 Bank
                    each account in accounts
                        div(id=("account_"+account.name.replace("@","-")))= account.name +": " + account.coins
        footer
            include includes/footer