html
    include includes/head
    body
        header
            include includes/title
        main
            h1 Theoseaftoscracy - A Civil Federation
            h2 A proposal for a political-economic model in which one's property is an integral part of one’s body and are considered, together with one's body to be an entity:
            h2 A system of decentralised independent entities that collaborate together by agreement and thereby giving the self sovereignty over his world as his country.
            h3 This utopian model, can exist only if by the property of faith, because man must eliminate fear, because fear leads to aggression, and aggression will lead to wars between the entities, and each entity will have a private army, and whoever has more money will cause more harm, it is important that each entity will have its own cryptographic currency so that the general can weaken the harmful. And each entity will control its currency trading by having a private cryptographic exchange.
            h3 And because of all this, the true value of the entity to society is represented in its own currency.
            h3 And the entity can be a virtual entity such as a government or a collective of several concrete entities - human beings.
            a(href="/") back
        footer
            include includes/footer