html
    include includes/head
    body
        header
            h1 Welcome!
            img(id="logo", src="/img/logo.png")
        main
            p Own your private financial system including a cryptographic coin, bank and exchange
            h3 Get Started!
            div
                span Your Name:
                input(id="coin_name")
                button(id="create_coin_btn") Enter the Multichain
        footer
            include includes/footer