html
    include includes/head
    body
        header
            h1 Crypto Teos
            h2 Welcome!
        main
            p Own your private financial system including a cryptographic coin, bank and exchange
            h3 Get Started!
            div
                table
                    tr
                        td
                            span Your Blockchain Name:
                        td
                            input(id="coin_name")
                        td
                            button(id="create_coin_btn") Create New Blockchain
                    tr
                        td

                        td

                        td
                            button(id="login") Login
        footer
            include includes/footer