html
    include includes/head
    body
        header
            include includes/title
        main
            h1 Get Started!

            div
                table
                    tr
                        td
                            span Your Blockchain Name:
                        td
                            input(id="coin_name")
                        td
                            button(id="create_coin_btn") Create New Blockchain
                    tr
                        td

                        td

                        td
                            button(id="login") Login

        footer
            include includes/footer