html
    include includes/head
    body
        header
            include includes/title
        main
            h2 This is distributed decentralized multichain.
            p An interesting use case of the multichain, is a crypto-barter. Let's say that Mark & Jonathan both buy services from Eric. To begin with, Jonathan send Eric fiat. Eric in return sends Jonathan Eric coins, Jonathan can then buy service from Eric with Eric coins. Jonathan also buys services from Mark, So Jonathan exchanges Eric coins for Mark coins with Mark. Mark can then buy service from Eric with Eric coins and Jonathan can buy service from Mark with Mark coins.
            br
            p
                b On this blockchain it's possible to be in debt!
                div In order to get out of debt you have to ask the blockchain owner to mine more coins and send you.
            h1 Get Started!

            div
                table
                    tr
                        td
                            span Your Blockchain Name:
                        td
                            input(id="coin_name")
                        td
                            button(id="create_coin_btn") Create New Blockchain
                    tr
                        td

                        td

                        td
                            button(id="login") Login

        footer
            include includes/footer